{% extends "base.html" %}

{%block stylesheet%}
	
	<link rel="stylesheet" type="text/css"  href="{{ STATIC_URL }}css/forms.css" media="screen" />
    <link rel="stylesheet" type="text/css"  href="{{ STATIC_URL }}css/jquery.css" media="screen" />
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui.js"></script>

<script type="text/javascript"> 
	$('document').ready(function(){
		$('#id_date').datepicker();
		$('#id_reception_date').datepicker();
	}); </script>
   
{% endblock %}


{% block content %}

<fieldset>
	<legend>Library Prep</legend>
	<form action='' enctype="multipart/form-data" method="post">
	<table>
		  {{ lib_prep_form }} {% csrf_token %}
	</table>
	  <input type="submit" value="Save" />
	</form>
</fieldset>



 	{%if success %}
	<div>
            <b>Saved successfully!</b>
            library prep id :<a href="{% url 'library_prep_detail' library_prep.library_id %}">{{ library_prep.library_id }}</a>
        
    </div>
	{%endif%}

{% endblock %}	