{% extends "base.html" %}

{%block stylesheet%}
	
	<link rel="stylesheet" type="text/css"  href="{{ STATIC_URL }}css/forms.css" media="screen" />
    <link rel="stylesheet" type="text/css"  href="{{ STATIC_URL }}css/jquery.css" media="screen" />
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui.js"></script>
	<script src="/admin/jsi18n/" type="text/javascript"></script>
	{{ project_form.media }}

<script type="text/javascript"> 
	$('document').ready(function(){
		$('#id_creation_date').datepicker();
		$('#id_reception_date').datepicker();
	}); </script>
   
{% endblock %}


{% block content %}

	<fieldset>
	<legend>Project</legend>
	<form action='' enctype="multipart/form-data" method="post">
	<table>
		  {{ project_form }} {% csrf_token %}
	</table>
	  <input type="submit" value="Save" />

	</form>
</fieldset>

{% endblock %}	