#histories ul li a{
	 display: inline-block;
	 text-decoration:none;
 	 line-height: 16px; 
 	 font-size:14px;
 	 margin: 2px 4px;
 	 
}	
#histories ul li {
	 border-bottom: 1px solid #E5E5E5;
	 padding: 0;

}

#histories p li {
	 padding: 1px 3px;
	
} 
